<div class="comments comment-form">
   {{#each}}
      <div class="comment">
         <div class="comment-user-info">
            Comment added by {{user.username}} on {{format_date date_created}}:
         </div>
         <div id="comment-content">
            {{comment.content}}
         </div>
      </div>
   {{/each}}
</div>