<div class="comment-form">
   {{#each this}}
      <div>
         <div>
            Comment added by {{user.username}} on {{format_date date_created}}:
         </div>
         <div>
            {{comment.content}}
         </div>
      </div>
   {{/each}}
</div>