<div class="comments">
   {{#each this}}
      <div>
         <div>
            Comment added by {{user.username}} on {{format_date date_created}}:
         </div>
         <div>
            {{content}}
         </div>
      </div>
   {{/each}}
</div>