
{{#if posts.length}}
<section>
   <h2>Dashboard</h2>
   <h3>Your Posts</h3>
   <div>
      <ol>
      {{#each posts as |post|}}
         <li>
            {{> post-info post }}
            <button class="edit">
               <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
            </button>
         </li>
      {{/each}}
      </ol>
   </div>
</section>
{{/if}}

<script src="/js/add-post.js"></script>

